/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para pantallas de escritorio */
@media screen and (min-width: 992px) {
    .navbar-brand img{
        height: 200px;
    }
   
}

/* Estilos para tabletas */
@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .navbar-brand img{
        height: 150px;
    }
    
}

/* Estilos para teléfonos móviles */
@media screen and (max-width: 767px) {
    
    .navbar-brand img{
        height: 100px;
    }
    
}
