* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****** NAVBAR ******/

.collapse{
    background-color: #BF9004;
}

.navbar-brand img{
    height: 200px;
}

.navbar-nav a{
    font-size: 25px;
    font-family: 'Contrail One', cursive;
    color: white;
}

.nav-link:hover{
    color:black;
}

/****** HEADER INDEX ******/

header img {
    max-width: 100%;
  }  

.carousel-container {
    position: relative;
    overflow: hidden;
  }
.carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/rutina.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

/****** MAIN INDEX ******/

.Titulo{
    margin-inline: 1px;
    margin-bottom: 40px;
    width: 100%;
    padding: 0;
}

.colorTitulo{
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 50px;
    font-style: italic;
    font-size: 45px;
    font-family: 'Contrail One', cursive;
    background-color: #BF9004;
}

.card {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 50px;
 }
 
.card-img-top-proportionate {
    max-height: 200px; 
    object-fit: contain;
    margin-top: 10px;
  }
.card-title{
    color: #BF9004;
    font-style: italic;
    text-align: center;
    padding-bottom: 35px;
    font-family: 'Contrail One', cursive;
} 

.card-text{
    text-align: center;
    padding-top: 25px;
    font-family: 'Contrail One', cursive;
    font-size: 20px;
    color: black;
}

.card-shadow {
    box-shadow: 0 0.25rem 0.75rem  #ac8717;
}

/****** HEADER EFA******/

.header-efa {
    margin-bottom: 0px;
}
  
.header-background-efa {
    position: relative;
}
  
.header-background-efa .img-fluid {
    width: 100%;
    height: 800px;
}
  
.header-background-efa .header-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    height: 400px;
    width: 100%;
}
  
.header-background-efa .header-text {
    text-align: center;
    color: white;
}
  
@media (min-width: 768px) {
    .header-background-efa .header-text {
      padding-top: 120px;
    }
}
  
.btn-primary-efa {
    color:white;
    background-color:#BF9004;
}
  
.btn-primary-efa:hover {
    color:white;
    background-color:#6e5302;
}
  

/****** MAIN EFA ******/

.container-efa {
    background: #ffffff;
    padding: 50px 0;
    
}

.card-efa {
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(to bottom, black, #BF9004);
    box-shadow: 0 20px 50px rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
}

.card-body-efa {
    padding: 40px;
}

.card-tittle-efa {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ffffff;
}

.card-text-efa {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffffff;
}

  
/****** HEADER KEF******/

/****** MAIN KEF ******/

/****** HEADER SOBRE-MI******/

/****** MAIN SOBRE-MI ******/

/****** MAIN CONTACTO ******/
.card-shadow {
    box-shadow: 0 0.25rem 0.75rem  #ac8717;
}

.card-title-contacto{
    color: #cfa117;
    font-style: italic;
    text-align: center;
    padding-bottom: 35px;
    font-family: 'Contrail One', cursive;
    font-size: 30px;
} 

.form-label {
    color: white;

}

.map-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-primary-contacto {
    color:white;
    background-color:#000000;
}
  
.btn-primary-contacto:hover {
    color:white;
    background-color:#a07a08;
}

/***** FOOTER ******/

.pie{
    background-color:black;
    line-height: 10px;
    padding: 5px;
}

div > h3 > a > i {
    padding-left: 10px;
    color:#BF9004
}

.pieText{
    text-align: center;
    color:#BF9004;
    font-family: 'Contrail One', cursive;
    font-size: 20px;
    padding-top: 7px;
}