* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****** NAVBAR ******/

.collapse{
    background-color: #BF9004;
}

.navbar-brand img{
    height: 200px;
}

.navbar-nav a{
    font-size: 25px;
    font-family: 'Contrail One', cursive;
    color: white;
}

.nav-link:hover{
    color:black;
}

/****** HEADER ******/

div > img{
    height: 700px;
}

/****** MAIN ******/

.Titulo{
    margin-inline: 500px;
    margin-bottom: 40px;
}

.colorTitulo{
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 50px;
    font-style: italic;
    font-size: 45px;
    font-family: 'Contrail One', cursive;
    background-color: #BF9004;
}

.contenedorParrafos{
    color: black;
    font-style: italic;
    text-align: center;
    padding-bottom: 100px;
    font-family: 'Contrail One', cursive;
}  

.box-i{
    
}

.box-p{
    text-align: center;
    padding-top: 25px;
    font-family: 'Contrail One', cursive;
    font-size: 30px;
    color: #BF9004;
}

/***** FOOTER ******/

.pie{
    background-color:black;
    line-height: 10px;
    padding: 5px;
}

div > h3 > i {
    padding-left: 10px;
}

.pieText{
    text-align: center;
    color:#BF9004;
    font-family: 'Contrail One', cursive;
    font-size: 20px;
    padding-top: 7px;
}